fastapi==0.111.0
uvicorn==0.30.1
python-dotenv==1.0.1
mysqlclient==2.2.0 # Pour la connexion MySQL avec SQLAlchemy/FastAPI
sqlalchemy==2.0.30
alembic==1.13.1
passlib[bcrypt]==1.7.4 # Pour le hachage des mots de passe
python-jose[cryptography]==3.3.0 # Pour JWT
